PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=PB5Q0pQglBhhOI5MaQCSD26d0G_URBtS
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
